<!-- Default form login -->
<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">

  <p class="h4 mb-4">Sign in</p>

  <!-- Email -->
  <input type="email" formControlName="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"
    [ngClass]="{'border border-danger' : loginForm.controls['username']?.invalid && loginForm.controls['username']?.touched}" >

  <!-- Password -->
  <input type="password"  formControlName="password"   id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"
    [ngClass]="{'border border-danger' : loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched}" >

  <!-- Sign in button -->
  <button type="submit" [disabled]="!loginForm.valid" class="my-4" type="submit">Sign in</button>

</form>
<!-- Default form login -->
