<!-- Default form login -->
<form [formGroup]="verifyForm" (ngSubmit)="onFormSubmit()">

    <p class="h4 mb-4">Verify Registration</p>
  
    <!-- Email -->
    <input type="email" formControlName="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail" readonly>
  
    <!-- Password -->
    <input type="text"  formControlName="token"   id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Verification Code">
  
    <div>
      Did not receive any emai? Request another code <a style="color: #7c69ef" (click)="resendVerificationEmail()">here.</a>
    </div>

    <!-- Sign in button -->
    <button type="submit" [disabled]="!verifyForm.valid" class="my-4" type="submit">Verify</button>
  
  </form>
  <!-- Default form login -->
  